@using GestorPacientes.Core.Application.ViewModels.Users
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5 w-25">
    <h1>Iniciar Sesion</h1>
    <div class="card card-box-shadow">
        <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
            <form method="post" asp-controller="User" asp-action="Login">

                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input type="text" asp-for="Username" class="form-control" />
                </div>
                
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                </div>

                <div class="text-center pt-3">
                    <button class="btn btn-primary w-50">Iniciar sesión</button>
                    <a class="btn btn-success" asp-action="Register">Registrarse</a>
                </div>
            </form>
        </div>
    </div>
</div>